*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	min-width: 100vw;
	background-color: #1e293b;
	background: url(/src/background-images/Pink\ peak\,\ Anton\ Dmitriev.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
	font-family: 'Roboto Condensed', sans-serif;

	@media (max-width: 370px) {
		min-height: 130vh;
		background: url("/src/background-images/Pink\ peak\,\ Anton\ Dmitriev.jpeg");
		background-color: #1e293b;
		background-blend-mode: difference;
		background-repeat: no-repeat;
		background-size: cover;
		background-size: center;
	}
}