*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	min-width: 100vw;
	background-color: #1e293b;
	background: url("https://github.com/Rique2x/Weather-App/blob/main/src/background-images/Pink%20peak,%20Anton%20Dmitriev.jpeg?raw=true");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
	font-family: 'Roboto Condensed', sans-serif;

	@media (max-width: 370px) {
		min-height: 130vh;
		background: url("https://github.com/Rique2x/Weather-App/blob/main/src/background-images/Pink%20peak,%20Anton%20Dmitriev.jpeg?raw=true");
		background-color: #1e293b;
		background-blend-mode: difference;
		background-repeat: no-repeat;
		background-size: cover;
		background-size: center;
	}
}